<div class="d-flex align-items-center justify-content-center">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-5 col-sm-8 col-xl-3 mx-auto pe-5 ps-5">
      <div class="w-360">
        <div class="row">
          <div class="col-md-12">
            <div class="py-5">
              <div class="text-center">
                <img alt="Worklenz" height="50" src="/assets/images/logo.png">
              </div>

              <nz-result
                *ngIf="informationSent"
                nzStatus="success"
                nzTitle="重置指令已发送！"
                nzSubTitle="重置信息已发送到您的电子邮件。请检查您的电子邮件。"
              >
              </nz-result>

              <div *ngIf="!informationSent">
                <div class="text-muted mb-4 mt-1 text-center">
                  请输入您的电子邮件地址。您将通过电子邮件收到创建新密码的链接。
                </div>
                <div aria-labelledby="auth-tab-content">
                  <form (submit)="resetPassword()" [formGroup]="form" class="login-form" nz-form>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="请输入您的电子邮件！">
                        <nz-input-group nzPrefixIcon="user" nzSize="large">
                          <input #emailInput [formControlName]="'email'" nz-input placeholder="请输入您的电子邮件"
                                 type="email"/>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <button [nzLoading]="loading" [nzType]="'primary'" class="mt-1" nz-button nzBlock nzSize="large">
                      重置密码
                    </button>
                    <div class="text-center mt-2">
                      或
                    </div>
                    <button [routerLink]="['/auth/login']" [nzType]="'default'" class="mt-1" nz-button
                            nzBlock nzSize="large" type="button">
                      返回登录
                    </button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
