<div class="d-flex align-items-center">
  <button *ngIf="updatesAvailable || PDUpdateAvailable" nz-button [nzType]="'dashed'" nz-tooltip
          [nzTooltipTitle]="UPDATES_MESSAGE"
          (click)="applyUpdates()"
          nzDanger>
    应用更新
  </button>
  <nz-divider *ngIf="members.length && updatesAvailable" [nzType]="'vertical'"></nz-divider>
  <ng-container *ngIf="members.length">
    <div class="position-relative" style="top: 3px;">
          <span class="online-members-help" nz-tooltip
                [nzTooltipTitle]="'活跃在此项目的成员将显示在这里.'" nz-icon
                nzType="question-circle" nzTheme="outline"></span>
      <worklenz-avatars [names]="members | wlSafeArray" [showDot]="true"></worklenz-avatars>
    </div>
  </ng-container>
</div>

<ng-template #updatesTemplate let-notification>
  <div class="ant-notification-notice-content">
    <div>
      <div class="ant-notification-notice-message">项目已更新</div>
      <div class="ant-notification-notice-description">{{UPDATES_MESSAGE}}</div>
      <span class="ant-notification-notice-btn">
        <button nz-button nzType="primary" [nzLoading]="refreshing" (click)="applyUpdates();notification.close();">
          <span>刷新项目</span>
        </button>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #projectManagerUpdateTemplate let-notification>
  <div class="ant-notification-notice-content">
    <div>
      <div class="ant-notification-notice-message">项目信息已更新</div>
      <div class="ant-notification-notice-description">{{UPDATES_MESSAGE}}</div>
      <span class="ant-notification-notice-btn">
        <button nz-button nzType="primary" [nzLoading]="refreshing" (click)="applyPMUpdate();notification.close();">
          <span>立即刷新</span>
        </button>
      </span>
    </div>
  </div>
</ng-template>
