<div #tasksInsightsExportDiv>
  <worklenz-project-stats [archived]="archived"></worklenz-project-stats>

  <nz-row [nzGutter]="16" class="mt-3">
    <nz-col [nzSpan]="12">
      <nz-card [nzTitle]="overdueTitleTemplate" [nzExtra]="lastExtraTemplate" class="h-100">
        <ng-template #overdueTitleTemplate>
          逾期任务
          <span
            nz-icon
            nzType="info-circle"
            nzTheme="outline"
            [nz-tooltip]="'true'"
            [nzTooltipTitle]="'已过期的任务'"
            style="color: #3587ff; font-size: 14px;">
        </span>
        </ng-template>
        <ng-template #lastExtraTemplate>
          <a (click)="goToList()">查看全部</a>
        </ng-template>

        <nz-table #tasksTable [nzData]="overdueTasks" [nzHideOnSinglePage]="true"
                  [nzLoading]="loadingOverdue" [nzSize]="'small'"
                  nzPaginationType="small" [nzNoResult]="noDataTemplate1">
          <thead>
          <tr>
            <th scope="col">名称</th>
            <th scope="col">状态</th>
            <th scope="col">结束日期</th>
            <th scope="col" class="text-center">逾期天数</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of tasksTable.data">
            <td>
              {{data.name}}
            </td>
            <td>
              <nz-tag [nzColor]="data.status_color"
                      class="text-dark rounded-pill task-list-label">{{data.status_name}}</nz-tag>
            </td>
            <td>
              {{(data.end_date | date: 'mediumDate') || '-'}}
            </td>
            <td class="text-center">{{data.days_overdue}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card [nzTitle]="titleTemplate" [nzExtra]="lastExtraTemplate" class="h-100">

        <ng-template #titleTemplate>
          超时任务
          <span
            nz-icon
            nzType="info-circle"
            nzTheme="outline"
            [nz-tooltip]="'true'"
            [nzTooltipTitle]="'已超出预估时间的任务'"
            style="color: #3587ff; font-size: 14px;">
        </span>
        </ng-template>
        <ng-template #lastExtraTemplate>
          <a (click)="goToList()">查看全部</a>
        </ng-template>

        <nz-table #overLogTasksTable [nzData]="overloggedTasks" [nzHideOnSinglePage]="true"
                  [nzLoading]="loadingOverlogged" [nzSize]="'small'"
                  nzPaginationType="small" [nzNoResult]="noDataTemplate2">
          <thead>
          <tr>
            <th scope="col">名称</th>
            <th scope="col">状态</th>
            <th scope="col">成员</th>
            <th scope="col">超时</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of overLogTasksTable.data">
            <td>
              {{task.name}}
            </td>
            <td>
              <nz-tag [nzColor]="task.status_color"
                      class="text-dark rounded-pill task-list-label">{{task.status_name}}</nz-tag>
            </td>
            <td nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'"
                class="py-0 editable" #tr>
              <div class="d-flex">
                <!--suppress TypeScriptValidateTypes -->
                <worklenz-avatars *ngIf="task.names?.length"
                                  [names]="task.names || []" class="d-flex"></worklenz-avatars>
                <nz-avatar *ngIf="!task.assignees?.length" [nzSize]="28"
                           class="avatar-dashed bg-white"
                           [nzIcon]="'plus'"></nz-avatar>

              </div>
              <nz-dropdown-menu #membersDropdown="nzDropdownMenu">
                <ul class="members-dropdown" *ngIf="members.length" nz-menu>
                  <li class="px-3 py-2">
                    <input type="text" [(ngModel)]="memberSearchText"
                           placeholder="按名称搜索" nz-input
                           #memberSearchInput>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
            <td>{{task.overlogged_time_string}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="16" class="mt-3">
    <nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'提前完成的任务'" [nzExtra]="lastExtraTemplate" class="h-100">

        <ng-template #lastExtraTemplate>
          <a (click)="goToList()">查看全部</a>
        </ng-template>

        <nz-table #earlyTasksTable [nzData]="earlyTasks" [nzHideOnSinglePage]="true"
                  [nzLoading]="loadingEarlyTasks" [nzSize]="'small'"
                  nzPaginationType="small" [nzNoResult]="noDataTemplate3">
          <thead>
          <tr>
            <th scope="col">名称</th>
            <th scope="col">状态</th>
            <th scope="col">结束日期</th>
            <th scope="col">完成时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of earlyTasksTable.data">
            <td>
              {{data.name}}
            </td>
            <td>
              <nz-tag [nzColor]="data.status_color"
                      class="text-dark rounded-pill task-list-label">{{data.status_name}}</nz-tag>
            </td>
            <td>
              {{(data.end_date | date: 'mediumDate') || '-'}}
            </td>
            <td>{{data.completed_at | date: 'MMM d, y'}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'延迟完成的任务'" [nzExtra]="lastExtraTemplate" class="h-100">

        <ng-template #lastExtraTemplate>
          <a (click)="goToList()">查看全部</a>
        </ng-template>

        <nz-table #lateTasksTable [nzData]="lateTasks" [nzHideOnSinglePage]="true"
                  [nzLoading]="loadingLateTasks" [nzSize]="'small'"
                  [nzPaginationType]="'small'" [nzNoResult]="noDataTemplate4">
          <thead>
          <tr>
            <th scope="col">名称</th>
            <th scope="col">状态</th>
            <th scope="col">结束日期</th>
            <th scope="col">完成时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of lateTasksTable.data">
            <td>
              {{data.name}}
            </td>
            <td>
              <nz-tag [nzColor]="data.status_color"
                      class="text-dark rounded-pill task-list-label">{{data.status_name}}</nz-tag>
            </td>
            <td>
              {{(data.end_date | date: 'mediumDate') || '-'}}
            </td>
            <td>{{data.completed_at | date: 'MMM d, y'}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-col>
  </nz-row>
</div>

<ng-template #noDataTemplate1>
  <div class="pt-4 pb-5">
    <div class="no-data-img-holder mx-auto mb-3">
      <img src="/assets/images/confetti (1).png" class="img-fluid" alt="">
    </div>
    <div><span nz-typography class="no-data-text">所有任务按时完成。</span></div>
  </div>
</ng-template>

<ng-template #noDataTemplate2>
  <div class="pt-4 pb-5">
    <div class="no-data-img-holder mx-auto mb-3">
      <img src="/assets/images/confetti (1).png" class="img-fluid" alt="">
    </div>
    <div><span nz-typography class="no-data-text">所有任务按时完成。</span></div>
  </div>
</ng-template>

<ng-template #noDataTemplate3>
  <div class="pt-4 pb-5">
    <div class="no-data-img-holder mx-auto mb-3">
      <img src="/assets/images/empty-box.webp" class="img-fluid" alt="">
    </div>
    <span nz-typography class="no-data-text">项目中没有提前完成的任务。</span>
  </div>
</ng-template>

<ng-template #noDataTemplate4>
  <div class="pt-4 pb-5">
    <div class="no-data-img-holder mx-auto mb-3">
      <img src="/assets/images/confetti (1).png" class="img-fluid" alt="">
    </div>
    <span nz-typography class="no-data-text">所有任务按时完成。</span>
  </div>
</ng-template>
