<nz-table #tasksTable [nzData]="lastUpdatedTasks" [nzLoading]="loadingLastUpdatedTasks" [nzSize]="'small'"
      nzPaginationType="small" [nzHideOnSinglePage]="true" [nzNoResult]="noDataTemplate">
  <thead>
  <tr>
  <th scope="col">名称</th>
  <th scope="col">状态</th>
  <th scope="col">截止日期</th>
  <th scope="col">最后更新</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of tasksTable.data">
  <td>{{data.name}}</td>
  <td>
    <nz-tag [nzColor]="data.status_color" class="text-dark rounded-pill task-list-label">{{data.status}}</nz-tag>
  </td>
  <td>
    {{(data.end_date | date: 'mediumDate') || '-'}}
  </td>
  <td>{{formatEndDate(data.updated_at)}}</td>
  </tr>
  </tbody>
</nz-table>
<worklenz-task-view
  [(show)]="showTaskDrawer"
  [projectId]="projectId"
  [(taskId)]="selectedTaskId"
></worklenz-task-view>

<ng-template #noDataTemplate>

  <div class="pt-4 pb-5">
  <div class="no-data-img-holder mx-auto mb-3">
    <img src="/assets/images/empty-box.webp" class="img-fluid" alt="">
  </div>
  <span nz-typography class="no-data-text">项目中最近没有更新的任务。</span>
  </div>

</ng-template>
