<nz-form-item *ngIf="service.model.task" class="w-100 mb-0" nz-row>
  <nz-form-label>时间估算</nz-form-label>
  <nz-form-control>
    <div class="d-inline-flex" style="position: relative;top: -12px;">
      <nz-form-control class="me-3">
        <small nz-typography nzType="secondary" class="d-block">小时</small>
        <nz-input-number [(ngModel)]="service.model.task.total_hours" (nzBlur)="handleTimeEstimationChange()"
                         [nzFormatter]="utils.toRound"
                         [nzMin]="0"
                         [nzPlaceHolder]="'小时'"
                         [nzStep]="1"></nz-input-number>
      </nz-form-control>
      <nz-form-control>
        <small nz-typography nzType="secondary" class="d-block">分钟</small>
        <nz-input-number [(ngModel)]="service.model.task.total_minutes" (nzBlur)="handleTimeEstimationChange()"
                         [nzFormatter]="utils.toRound"
                         [nzMax]="60"
                         [nzMin]="0"
                         [nzPlaceHolder]="'分钟'"
                         [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </div>
  </nz-form-control>
</nz-form-item>
