<nz-skeleton [nzActive]="true" [nzLoading]="loading">
  <nz-card [nzExtra]="projectMembersForm" [nzTitle]="title">
    <nz-table
      #table
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzData]="model.data || []"
      [nzFrontPagination]="false"
      [nzPageIndex]="pageIndex"
      [nzPageSizeOptions]="paginationSizes"
      [nzPageSize]="pageSize"
      [nzTotal]="total"
      nzShowSizeChanger
      [nzSize]="'small'"
      class="custom-table" [nzNoResult]="noDataTemplate"
    >
      <thead>
      <tr>
        <th [nzSortFn]="true" [nzColumnKey]="'name'" scope="col">姓名</th>
        <th [nzSortFn]="true" [nzColumnKey]="'job_title'" scope="col">职位</th>
        <th [nzSortFn]="true" [nzColumnKey]="'email'" scope="col">电子邮件</th>
        <th scope="col" [nzAlign]="'center'">任务</th>
        <th [nzWidth]="'200px'" scope="col">任务进度</th>
        <th [nzSortFn]="true" [nzAlign]="'left'" [nzColumnKey]="'access'" colspan="2" scope="col">访问权限</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table.data" class="actions-row">
        <td (click)="selectMember(data.team_member_id)">
          <nz-avatar *ngIf="data.name" [nzSize]="28"
                     [nzText]="data.name | firstCharUpper"
                     [style.background-color]="data.avatar_url ? '#ececec' : getColor(data.name)"
                     [nzSrc]="data.avatar_url"
                     class="me-2"></nz-avatar>
          {{data.name}}
        </td>
        <td>{{data.job_title || "-"}}</td>
        <td (click)="selectMember(data.team_member_id)">
          <span *ngIf="data.email && !data.pending_invitation">{{data.email}}</span>
          <span *ngIf="!data.email && !data.pending_invitation">-</span>
          <em *ngIf="data.email && data.pending_invitation" nz-typography>
            {{data.email}} <span nz-typography nzType="secondary">(邀请待定)</span>
          </em>
        </td>
        <td nzAlign="center" (click)="selectMember(data.team_member_id)">
          {{ data.completed_tasks_count || 0 }}/{{data.all_tasks_count || 0}}
        </td>
        <td (click)="selectMember(data.team_member_id)">
          <nz-progress [nzPercent]="data.progress"></nz-progress>
        </td>
        <td (click)="selectMember(data.team_member_id)">{{ data.access || "-" }}</td>

        <td class="actions-col">
          <div class="actions" *ngIf="isOwnerOrAdmin() || isProjectManager()">
            <nz-space>
              <button
                (nzOnConfirm)="removeMember(data.id)"
                *nzSpaceItem nz-button nz-popconfirm nz-tooltip
                [nzOkText]="'确定'"
                [nzPopconfirmTitle]="'成员也将从分配的任务中移除。'"
                [nzSize]="'small'"
                [nzTooltipPlacement]="'top'"
                [nzTooltipTitle]="'从项目中移除'"
                [nzType]="'default'"
                [disabled]="data.team_member_id === auth.getCurrentSession()?.team_member_id"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </nz-space>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-skeleton>

<ng-template #projectMembersForm>
  <nz-space>
    <button (click)="get()" *nzSpaceItem nz-button nz-tooltip nzShape="circle"
            nzTooltipTitle="刷新成员" nzType="default">
      <span [nzSpin]="loading" nz-icon nzTheme="outline" nzType="sync"></span>
    </button>
    <!--    <form *nzSpaceItem [formGroup]="searchForm" [nzLayout]="'vertical'" nz-form>-->
    <!--      <nz-input-group [nzSuffix]="suffixIconSearch">-->
    <!--        <input [formControlName]="'search'" nz-input placeholder="按姓名搜索" type="text"/>-->
    <!--      </nz-input-group>-->
    <!--      <ng-template #suffixIconSearch>-->
    <!--        <span nz-icon nzType="search"></span>-->
    <!--      </ng-template>-->
    <!--    </form>-->
  </nz-space>
</ng-template>


<ng-template #noDataTemplate>
  <div class="pt-4 pb-5">
    <div class="no-data-img-holder mx-auto mb-3">
      <img src="/assets/images/empty-box.webp" class="img-fluid" alt="">
    </div>
    <span nz-typography class="no-data-text">项目中未找到成员。</span>
  </div>
</ng-template>


<worklenz-task-view
  [(show)]="showTaskDrawer"
  (showChange)="onShowChange($event)"
  [selfResetTaskId]="false"
  [projectId]="projectId || null"
  [taskId]="selectedTaskId"
></worklenz-task-view>
