<div class="text-center">
  <img alt="Worklenz" height="50" [ngSrc]="'/assets/images/logo.png'" width="235">
</div>

<div class="text-muted mb-4 mt-1 text-center">创建您的账户。</div>

<nz-spin [nzSpinning]="loading || validating">
  <form (submit)="validate()" [formGroup]="form" class="login-form" nz-form>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'请输入您的姓名!'">
        <label class="d-block mb-1" for="full-name">全名</label>
        <nz-input-group [nzPrefixIcon]="'user'" [nzSize]="'large'">
          <input #nameInput [formControlName]="'name'" id="full-name" nz-input placeholder="输入您的全名"
                 type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'请输入您的邮箱!'">
        <label class="d-block mb-1" for="email">邮箱</label>
        <nz-input-group [nzPrefixIcon]="'mail'" [nzSize]="'large'">
          <input [formControlName]="'email'" id="email" nz-input placeholder="输入您的邮箱" type="email"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'请输入您的密码!'" [nzExtra]="passwordNote">
        <label class="d-block mb-1" for="password">
          密码
          <span *ngIf="hasPassword && passwordStrength">({{passwordStrength.text}})</span>
        </label>
        <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefixIcon]="'lock'" [nzSize]="'large'">
          <input [formControlName]="'password'" [type]="passwordVisible ? 'text' : 'password'" nz-input
                 id="password"
                 placeholder="输入一个强密码"/>
        </nz-input-group>
        <ng-template #suffixTemplate>
        <span (click)="passwordVisible = !passwordVisible" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              nz-icon></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <ng-template #passwordNote>
      <span nz-typography [nzType]="'secondary'" style="font-size: 12px;">{{passwordPolicy}}</span>
    </ng-template>

    <nz-form-item>
      <nz-form-control>
        <p class="mb-0">
          注册即表示您同意我们的
          <a href="/privacy-policy" target="_blank" rel="noopener">隐私政策</a> 和
          <a href="/terms-of-use">使用条款</a>。
        </p>
      </nz-form-control>
    </nz-form-item>

    <button [nzLoading]="loading" [nzType]="'primary'" class="mt-1" nz-button nzBlock [nzSize]="'large'">注册
    </button>
    <div class="text-center mt-2">或</div>
    <button (click)="signUpWithGoogle()" [nzLoading]="loadingGoogle" [nzType]="'default'" class="mt-1" nz-button
            nzBlock [nzSize]="'large'"
            type="button">
      <img alt="Worklenz" class="me-2" [ngSrc]="'/assets/images/google-icon.png'" width="18" height="18">
      使用 Google 注册
    </button>
    <nz-form-item></nz-form-item>
    <nz-form-item class="mb-0">
      <nz-form-control>
        <p class="mb-0">
          已有账户? <a [routerLink]="['/auth/login']" rel="noopener">登录</a>
        </p>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
