<nz-drawer
  (nzOnClose)="closeModal()"
  [(nzVisible)]="show"
  [nzClosable]="true"
  nzPlacement="right"
  (nzVisibleChange)="onVisibilityChange($event)"
  nzTitle="{{action}} 状态"
>
  <ng-container *nzDrawerContent>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
      <form (submit)="submit()" [formGroup]="form" [nzLayout]="'vertical'" nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired>名称</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="请输入名称!">
            <input [formControlName]="'name'" nz-input placeholder="名称"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired>类别</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <nz-select [formControlName]="'category_id'">
              <nz-option
                *ngFor="let item of categories"
                [nzLabel]="item.name || null"
                [nzValue]="item.id"
                nzCustomContent>
                <nz-badge
                  nz-tooltip [nzTooltipTitle]="item.description"
                  [nzText]="item?.name || null"
                  class="w-100"
                  [nzTooltipPlacement]="'left'"
                  [nzColor]="item.color_code"></nz-badge>
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <button nz-button nzBlock nzType="primary" type="submit">{{action}}</button>
      </form>
    </nz-skeleton>
  </ng-container>
</nz-drawer>
