<!-- Drag handler -->
<div class="flex-row task-drag-handler"></div>

<!-- Checkbox -->
<div class="flex-row task-check">
  <span nz-checkbox [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></span>
</div>

<!-- Key -->
<ng-container *ngIf="keyActive">
  <div class="flex-row task-key text-center">任务编号</div>
</ng-container>

<!-- Subtask arrow -->
<div class="flex-row task-arrow"></div>

<!-- Task name -->
<div class="flex-row task-name">任务</div>

<!-- Description -->
<ng-container *ngIf="descriptionActive">
  <div class="flex-row task-description">描述</div>
</ng-container>

<!-- Progress -->
<ng-container *ngIf="progressActive">
  <div class="flex-row task-progress text-center">进度</div>
</ng-container>

<!-- Member -->
<ng-container *ngIf="assigneesActive">
  <div class="flex-row task-members">成员</div>
</ng-container>

<!-- Labels -->
<ng-container *ngIf="labelsActive">
  <div class="flex-row task-labels">标签</div>
</ng-container>

<!-- Phase -->
<ng-container *ngIf="phaseActive">
  <div class="flex-row task-phase d-flex justify-content-between align-items-center">
    <span nz-tooltip [nzTooltipTitle]="phaseLabel">{{phaseLabel | ellipsis : 10}}</span>
    <button *ngIf="auth.isOwnerOrAdmin() || isProjectManager()" [nzShape]="'circle'" [nzSize]="'small'" [nzType]="'text'"
            (click)="onPhaseSettingsClick()" nz-button>
      <span nz-icon [nzType]="'setting'" [nzTheme]="'outline'"></span>
    </button>
  </div>
</ng-container>

<!-- Status -->
<ng-container *ngIf="statusActive">
  <div class="flex-row task-status">状态</div>
</ng-container>

<!-- Priority -->
<ng-container *ngIf="priorityActive">
  <div class="flex-row task-priority">优先级</div>
</ng-container>

<!-- Time tracking -->
<ng-container *ngIf="timeTrackingActive">
  <div class="flex-row task-time-tracking justify-content-center">时间跟踪</div>
</ng-container>

<!-- Estimation -->
<ng-container *ngIf="estimationActive">
  <div class="flex-row task-estimation justify-content-center">估算</div>
</ng-container>

<!-- Start date -->
<ng-container *ngIf="startDateActive">
  <div class="flex-row task-start-date">开始日期</div>
</ng-container>

<!-- Due date -->
<ng-container *ngIf="dueDateActive">
  <div class="flex-row task-due-date">截止日期</div>
</ng-container>

<!-- Completed date -->
<ng-container *ngIf="completedDateActive">
  <div class="flex-row task-completed-date">完成日期</div>
</ng-container>

<!-- Created date -->
<ng-container *ngIf="createdDateActive">
  <div class="flex-row task-created-date">创建日期</div>
</ng-container>

<!-- Last update -->
<ng-container *ngIf="lastUpdatedActive">
  <div class="flex-row task-update-date">最后更新</div>
</ng-container>

<!-- Reporter -->
<ng-container *ngIf="reporterActive">
  <div class="flex-row task-update-date">报告人</div>
</ng-container>
