<nz-skeleton [nzLoading]="loading" [nzActive]="true" class="d-block mt-3">
  <ng-container>
    <ng-container *ngIf="!activityLogs?.length">
      <div class="pt-4 pb-5 text-center">
        <div class="no-data-img-holder mx-auto mb-3">
          <img src="/assets/images/empty-box.webp" class="img-fluid" alt="">
        </div>
        <span nz-typography class="no-data-text">没有活动日志显示。</span>
      </div>
    </ng-container>
    <ng-container *ngFor="let log of activityLogs">
      <div class="single-log">
        <nz-card [nzTitle]="cardTitle" class="breakdown-card">
          <div class="single-day-logs">
            <nz-timeline *ngIf="log.logs.length">
              <nz-timeline-item *ngFor="let log_item of log.logs">
              <span nz-typography class="line-28 activity-log-text" (click)="openTask(log_item.task_id, log_item.project_id)">
                更新了

                <b class="weight-500">
                  <ng-container [ngSwitch]="log_item.attribute_type">
                    <span *ngSwitchCase="'status'"> 状态 </span>
                    <span *ngSwitchCase="'priority'"> 优先级 </span>
                    <span *ngSwitchCase="'phase'"> 阶段 </span>
                    <span *ngSwitchCase="'start_date'"> 开始日期 </span>
                    <span *ngSwitchCase="'end_date'"> 结束日期 </span>
                  </ng-container>
                </b>

                从

                <ng-container [ngSwitch]="log_item.attribute_type">
                  <!-- status -->
                  <span *ngSwitchCase="'status'">
                    <nz-tag [nzColor]="log_item.previous_status?.color_code+'69'"
                            class="rounded-pill">{{log_item.previous}}</nz-tag>
                  </span>
                  <!-- priority -->
                  <span *ngSwitchCase="'priority'">
                    <nz-tag [nzColor]="log_item.previous_priority?.color_code+'69'"
                            class="rounded-pill">{{log_item.previous}}</nz-tag>
                  </span>
                  <!-- phase -->
                  <span *ngSwitchCase="'phase'">
                    <nz-tag
                      [nzColor]="log_item.previous_phase?.color_code ? log_item.previous_phase?.color_code+'69' : '#fbc84c69'"
                      class="rounded-pill">{{log_item.previous ? log_item.previous : '未映射'}}</nz-tag>
                  </span>
                  <!-- start date -->
                  <span *ngSwitchCase="'start_date'">
                    <ng-container *ngIf="log_item.previous">
                      <nz-tag class="me-0">{{log_item.previous}}</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="!log_item.previous">
                      <nz-tag class="me-0">无</nz-tag>
                    </ng-container>
                  </span>
                  <!-- end date -->
                  <span *ngSwitchCase="'end_date'">
                    <ng-container *ngIf="log_item.previous">
                      <nz-tag class="me-0">{{log_item.previous}}</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="!log_item.previous">
                      <nz-tag class="me-0">无</nz-tag>
                    </ng-container>
                  </span>

                </ng-container>

                到

                <ng-container [ngSwitch]="log_item.attribute_type">
                  <!-- status -->
                  <span *ngSwitchCase="'status'">
                    <nz-tag [nzColor]="log_item.next_status?.color_code+'69'"
                            class="rounded-pill">{{log_item.current}}</nz-tag>
                  </span>
                  <!-- priority -->
                  <span *ngSwitchCase="'priority'">
                    <nz-tag [nzColor]="log_item.next_priority?.color_code+'69'"
                            class="rounded-pill">{{log_item.current}}</nz-tag>
                  </span>
                  <!-- phase -->
                  <span *ngSwitchCase="'phase'">
                    <nz-tag
                      [nzColor]="log_item.next_phase?.color_code ? log_item.next_phase?.color_code+'69' : '#fbc84c69'"
                      class="rounded-pill">{{log_item.current ? log_item.current : '未映射'}}</nz-tag>
                  </span>
                  <!-- start date -->
                  <span *ngSwitchCase="'start_date'">
                    <ng-container *ngIf="log_item.current">
                      <nz-tag class="me-0">{{log_item.current}}</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="!log_item.current">
                      <nz-tag class="me-0">无</nz-tag>
                    </ng-container>
                  </span>
                  <!-- end date -->
                  <span *ngSwitchCase="'end_date'">
                    <ng-container *ngIf="log_item.current">
                      <nz-tag class="me-0">{{log_item.current}}</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="!log_item.current">
                      <nz-tag class="me-0">无</nz-tag>
                    </ng-container>
                  </span>

                </ng-container>

                在 <b class="weight-500">{{log_item.task_name}}</b> 中的 <b class="weight-500">{{log_item.project_name}}</b> <nz-tag
                class="ms-2 mt-1">{{log_item.task_key}}</nz-tag>
              </span>
              </nz-timeline-item>
            </nz-timeline>
            <ng-container *ngIf="!log.logs.length">
              <div class="d-block mb-4">
                没有时间日志显示。
              </div>
            </ng-container>
          </div>
        </nz-card>
        <ng-template #cardTitle>
          <div class="log-day">
            <span nz-typography>{{log.log_day | date : 'MMM dd, YYYY'}}</span>
          </div>
        </ng-template>
      </div>
      <nz-divider></nz-divider>
    </ng-container>
  </ng-container>
</nz-skeleton>
