<ul class="border-0" nz-menu [nzMode]="'vertical'">
    <li class="rounded-4" [routerLink]="'overview'" [routerLinkActive]="['ant-menu-item-selected']"
        [nzTitle]="'概览'" [nzIcon]="'appstore'" nz-submenu>
    </li>
    <li class="rounded-4" [routerLink]="'users'" [routerLinkActive]="['ant-menu-item-selected']" [nzTitle]="'用户'"
        [nzIcon]="'user'" nz-submenu>
    </li>
    <li class="rounded-4" [routerLink]="'teams'" [routerLinkActive]="['ant-menu-item-selected']" [nzTitle]="'团队'"
        [nzIcon]="'team'" nz-submenu>
    </li>
</ul>
