<nz-skeleton [nzLoading]="loading" [nzActive]="true" class="d-block">

  <nz-input-group style="width: 250px" class="mb-3" [nzSuffix]="suffixIconSearch">
    <input type="text"
           nz-input
           placeholder="按名称搜索"
           [(ngModel)]="searchText" (ngModelChange)="search()" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>

  <div>
    <nz-table #projectsTable
              [nzData]="model"
              [nzLoading]="loading"
              [nzScroll]="{ x: '260px' }">
      <thead>
      <tr>
        <th nzLeft [nzWidth]="'260px'" style="z-index: 11" scope="col">项目</th>
        <th [nzWidth]="'160px'" scope="col">团队</th>
        <th class="text-center" [nzWidth]="'130px'" scope="col">任务</th>
        <th [nzWidth]="'150px'" scope="col">贡献</th>
        <th class="text-center" [nzWidth]="'170px'" scope="col">未完成任务</th>
        <th class="text-center" [nzWidth]="'170px'" scope="col">已完成任务</th>
        <th class="text-center" [nzWidth]="'160px'" scope="col">逾期任务</th>
        <th [nzWidth]="'200px'" scope="col">记录时间</th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor-pointer" *ngFor="let project of projectsTable.data" (click)="openProject(project)">
        <td nzLeft>{{project.name}}</td>
        <td>{{project.team}}</td>
        <td class="text-center">{{project.task_count}}</td>
        <td>
          <nz-progress [nzPercent]="project.contribution" nzSize="small"></nz-progress>
        </td>
        <td class="text-center">{{project.incompleted}}</td>
        <td class="text-center">{{project.completed}}</td>
        <td class="text-center">{{project.overdue}}</td>
        <td>{{project.time_logged}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-skeleton>

<ng-template #naTemplate>
  <worklenz-na></worklenz-na>
</ng-template>
